In [1]:
from snowflake.connector import connect
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv("../.env")

True

In [2]:
conn = connect(
        user=os.getenv("USER_NAME"),
        password=os.getenv("PASSWORD"),
        account=os.getenv("ACCOUNT"),
        warehouse="COMPUTE_WH",
        schema="PUBLIC",
        database='WINE',
        role="ACCOUNTADMIN")

In [3]:
q = conn.cursor().execute("SELECT * FROM WINE_QUALITY LIMIT 10;")

In [5]:
q.fetchall()

[(Decimal('7.40'),
  Decimal('0.700'),
  Decimal('0.00'),
  Decimal('1.90'),
  Decimal('0.076'),
  Decimal('11.0'),
  Decimal('34.0'),
  Decimal('0.997800'),
  Decimal('3.51'),
  Decimal('0.56'),
  Decimal('9.40000000000000'),
  5,
  'r'),
 (Decimal('7.80'),
  Decimal('0.880'),
  Decimal('0.00'),
  Decimal('2.60'),
  Decimal('0.098'),
  Decimal('25.0'),
  Decimal('67.0'),
  Decimal('0.996800'),
  Decimal('3.20'),
  Decimal('0.68'),
  Decimal('9.80000000000000'),
  5,
  'r'),
 (Decimal('7.80'),
  Decimal('0.760'),
  Decimal('0.04'),
  Decimal('2.30'),
  Decimal('0.092'),
  Decimal('15.0'),
  Decimal('54.0'),
  Decimal('0.997000'),
  Decimal('3.26'),
  Decimal('0.65'),
  Decimal('9.80000000000000'),
  5,
  'r'),
 (Decimal('11.20'),
  Decimal('0.280'),
  Decimal('0.56'),
  Decimal('1.90'),
  Decimal('0.075'),
  Decimal('17.0'),
  Decimal('60.0'),
  Decimal('0.998000'),
  Decimal('3.16'),
  Decimal('0.58'),
  Decimal('9.80000000000000'),
  6,
  'r'),
 (Decimal('7.40'),
  Decimal('0.700'),
  Decimal('0.00'),
  Decimal('1.90'),
  Decimal('0.076'),
  Decimal('11.0'),
  Decimal('34.0'),
  Decimal('0.997800'),
  Decimal('3.51'),
  Decimal('0.56'),
  Decimal('9.40000000000000'),
  5,
  'r'),
 (Decimal('7.40'),
  Decimal('0.660'),
  Decimal('0.00'),
  Decimal('1.80'),
  Decimal('0.075'),
  Decimal('13.0'),
  Decimal('40.0'),
  Decimal('0.997800'),
  Decimal('3.51'),
  Decimal('0.56'),
  Decimal('9.40000000000000'),
  5,
  'r'),
 (Decimal('7.90'),
  Decimal('0.600'),
  Decimal('0.06'),
  Decimal('1.60'),
  Decimal('0.069'),
  Decimal('15.0'),
  Decimal('59.0'),
  Decimal('0.996400'),
  Decimal('3.30'),
  Decimal('0.46'),
  Decimal('9.40000000000000'),
  5,
  'r'),
 (Decimal('7.30'),
  Decimal('0.650'),
  Decimal('0.00'),
  Decimal('1.20'),
  Decimal('0.065'),
  Decimal('15.0'),
  Decimal('21.0'),
  Decimal('0.994600'),
  Decimal('3.39'),
  Decimal('0.47'),
  Decimal('10.00000000000000'),
  7,
  'r'),
 (Decimal('7.80'),
  Decimal('0.580'),
  Decimal('0.02'),
  Decimal('2.00'),
  Decimal('0.073'),
  Decimal('9.0'),
  Decimal('18.0'),
  Decimal('0.996800'),
  Decimal('3.36'),
  Decimal('0.57'),
  Decimal('9.50000000000000'),
  7,
  'r'),
 (Decimal('7.50'),
  Decimal('0.500'),
  Decimal('0.36'),
  Decimal('6.10'),
  Decimal('0.071'),
  Decimal('17.0'),
  Decimal('102.0'),
  Decimal('0.997800'),
  Decimal('3.35'),
  Decimal('0.80'),
  Decimal('10.50000000000000'),
  5,
  'r')]

In [3]:
os.getenv("USER")

'johnbellamy'

In [6]:
from snowflake.snowpark import Session

In [7]:
conn_config = {
        "user": os.getenv("USER_NAME"),
        "password": os.getenv("PASSWORD"),
        "account": os.getenv("ACCOUNT"),
        "warehouse": "COMPUTE_WH",
        "schema": "PUBLIC",
        "database": 'WINE',
        "role": "ACCOUNTADMIN"
        }

#Invoking Snowpark Session for Establishing Connection
conn = Session.builder.configs(conn_config).create()

In [8]:
df_tbl_read = conn.table("WINE_QUALITY")

In [9]:
df_tbl_read.show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"FIXED_ACIDITY"  |"VOLATILE_ACIDITY"  |"CITRIC_ACID"  |"RESIDUAL_SUGAR"  |"CHLORIDES"  |"FREE_SULFUR_DIOXIDE"  |"TOTAL_SULFUR_DIOXIDE"  |"DENSITY"  |"PH"  |"SULPHATES"  |"ALCOHOL"          |"QUALITY"  |"TYPE"  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|7.40             |0.700               |0.00           |1.90              |0.076        |11.0                   |34.0                    |0.997800   |3.51  |0.56         |9.40000000000000   |5          |r       |
|7.80             |0.880               |0.00           |2.60              |0.098        |25.0                   |67.0                    |0.996800   |3.20  |0.68         |9.80000000000000   |5          |r       |
|7.80             |0.760               |0.04           |2.30              |0.092        |15.0                   |54.0                    |0.997000   |3.26  |0.65         |9.80000000000000   |5          |r       |
|11.20            |0.280               |0.56           |1.90              |0.075        |17.0                   |60.0                    |0.998000   |3.16  |0.58         |9.80000000000000   |6          |r       |
|7.40             |0.700               |0.00           |1.90              |0.076        |11.0                   |34.0                    |0.997800   |3.51  |0.56         |9.40000000000000   |5          |r       |
|7.40             |0.660               |0.00           |1.80              |0.075        |13.0                   |40.0                    |0.997800   |3.51  |0.56         |9.40000000000000   |5          |r       |
|7.90             |0.600               |0.06           |1.60              |0.069        |15.0                   |59.0                    |0.996400   |3.30  |0.46         |9.40000000000000   |5          |r       |
|7.30             |0.650               |0.00           |1.20              |0.065        |15.0                   |21.0                    |0.994600   |3.39  |0.47         |10.00000000000000  |7          |r       |
|7.80             |0.580               |0.02           |2.00              |0.073        |9.0                    |18.0                    |0.996800   |3.36  |0.57         |9.50000000000000   |7          |r       |
|7.50             |0.500               |0.36           |6.10              |0.071        |17.0                   |102.0                   |0.997800   |3.35  |0.80         |10.50000000000000  |5          |r       |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
from snowflake.ml.modeling.metrics.classification import accuracy_score

In [2]:
help(accuracy_score)

Help on function accuracy_score in module snowflake.ml.modeling.metrics.classification:

accuracy_score(*, df: snowflake.snowpark.dataframe.DataFrame, y_true_col_names: Union[str, List[str]], y_pred_col_names: Union[str, List[str]], normalize: bool = True, sample_weight_col_name: Optional[str] = None) -> float
    Accuracy classification score.

    In multilabel classification, this function computes subset accuracy:
    the set of labels predicted for a sample must *exactly* match the
    corresponding set of labels in the y true columns.

    Args:
        df: snowpark.DataFrame
            Input dataframe.
        y_true_col_names: string or list of strings
            Column name(s) representing actual values.
        y_pred_col_names: string or list of strings
            Column name(s) representing predicted values.
        normalize: boolean, default=True
            If ``False``, return the number of correctly classified samples.
            Otherwise, return the fraction of correctly classified samples.
        sample_weight_col_name: string, default=None
            Column name representing sample weights.

    Returns:
        If ``normalize == True``, return the fraction of correctly
        classified samples (float), else returns the number of correctly
        classified samples (int).

        The best performance is 1 with ``normalize == True`` and the number
        of samples with ``normalize == False``.

In [56]:
values = [[x] for x in [5,7,8,9,0,1]]
columns = ["1", "2", "3", "4", "5", "6"]

In [57]:
df = pd.DataFrame(data=values).T
df.columns = columns

In [58]:
df

   1  2  3  4  5  6
0  5  7  8  9  0  1

In [42]:
df = pd.DataFrame.from_dict(d, index=range(len(d.items())))

TypeError: DataFrame.from_dict() got an unexpected keyword argument 'index'

In [43]:
pd.DataFrame(d.items())

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [40]:
df

   0
1  2
3  4
5  6
7  8

In [24]:
list(d.values())

['2', '4', '6', '8']

In [33]:
import numpy as np 
np.array(list(d.keys()))

array(['1', '3', '5', '7'], dtype='<U1')

In [30]:
[[x] for x in list(d.values())]

[['2'], ['4'], ['6'], ['8']]